
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    padding: 50px 0px;
    background-color: white;
}

body{
    background-color: white;
}
main{
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#sec1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#sec2{
    width: auto;
    height: auto;
}
img{
    width: 100px;
    height: 100px;
}
div{
    background-color: white;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 3px auto;
}
footer{
    margin-top: 50px;
    height: 100px;
    background-color: white;
}



 /* Crie uma página com duas regiões principais: uma maior, no meio da tela, com três espaços em branco; outra menor, mais embaixo, com ao menos dez imagens colocadas lado a lado. Programe a página para que cada imagem pequena, quando clicada, faça uma cópia de si mesma para o primeiro espaço em branco disponível no meio da tela. Além disso, os espaços do meio devem ser esvaziados quando clicados, se estiverem com imagem. Entregue, usando um arquivo PDF, uma breve explanação de que fez, incluindo prints que demonstrem o trabalho realizado.  */